@model IEnumerable<Aptor.Models.Order>

@{
    ViewBag.Title = "Lista zamówień";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista zamówień</h2>

<p>
    @Html.ActionLink("Dodaj zamówienie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Client.ClientId.ToString(), "Index", new { id = item.ClientId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
